@use "../abstract/" as *;

.aboutBanner {
  padding-bottom: 5rem;
  &__top {
    display: flex;
    @include mediaQuery(520px) {
      flex-direction: column;
    }
  }
  &__top--left {
    margin-top: 3rem;
    h1 {
      width: 50rem;
    }
    @include mediaQuery(520px) {
      margin-top: 12rem;
      h1 {
        width: 25rem;
      }
    }
  }
  &__top--right {
    margin: auto 0;
  }
  &__bottom--a {
    grid-area: a;
  }
  &__bottom--b {
    grid-area: b;
  }
  &__bottom--c {
    grid-area: c;
  }
  &__bottom {
    display: grid;
    grid-template-areas:
      "a c"
      "b c";
    grid-template-columns: 1.25fr 1fr;
    img {
      margin: 1rem 0;
      width: 25rem;
      height: 23rem;
    }
    #pic2 {
      height: 35rem;
      margin-top: 5rem;
    }
    h3 {
      margin: 2rem 0;
    }
    p {
      width: 45rem;
      @include mediaQuery(520px) {
        width: 20rem;
      }
    }
    @include mediaQuery(520px) {
      display: flex;
      flex-direction: column;
      p {
        width: 20rem;
      }
      #pic2 {
        width: 30rem;
        height: 25rem;
        margin-top: 3rem;
      }
    }
  }
}

.coreValues {
  &__wrapper {
    max-width: 70rem;
    margin: 0 auto;
    color: $clr--light;
    padding: 3rem 0;
  }
  &__card {
    @include gridFixed(2, 3rem);
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  &__text {
    margin-bottom: 2rem;
    text-align: center;
    width: 50rem;
    margin: 3rem auto;
    @include mediaQuery(520px) {
      width: 20rem;
    }
  }
  .cards {
    display: flex;
    background-color: $clr--light;
    padding-left: 2rem;
    img {
      width: 7rem;
    }
    @include mediaQuery(520px) {
      display: unset;
      text-align: center;
      width: 23rem;
      padding-left: unset;
      img {
        margin-top: 2rem;
      }
    }
  }
  .card__details {
    h5 {
      color: $clr--dark;
      padding: 1rem 0;
    }
    p {
      color: $clr--dark;
    }
  }
}

.studio {
  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 5rem 0;

    h2 {
      width: 40rem;
      padding-bottom: 1rem;
    }
    p {
      width: 40rem;
      padding-bottom: 2rem;
    }
    iframe {
      width: 70rem;
    }
    @include mediaQuery(520px) {
      p {
        width: 25rem;
      }
      h2 {
        width: 25rem;
      }
      iframe {
        width: 25rem;
      }
    }
  }
}
